.clothes{
    margin-top: 160px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: 20vh repeat(4,90vh);
    row-gap: 20px;
    justify-items: center;
    justify-content: space-evenly;
}

.clothes .clothes__title{
    grid-column: 1/4;
}


.clothes .clothes__card{
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.clothes .clothes__card:hover{
    border-radius: 20px;
    box-shadow: 7px 7px 13px #000;
}


.clothes .clothes__card .clothes__a{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-decoration: none;
    color:#000000;
}